@model IEnumerable<DTO.Restaurant>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Choose a Restaurant</title>
</head>
<body>
    <p>
        <a asp-controller="CustomerLogin" asp-action="LogOutC">Log Out</a>
    </p>
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>

                        @Html.ActionLink("Select", "Select", new { id = item.IdRestaurant }) |

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="City" asp-action="GetAllCities">Back to Cities</a>
</body>
</html>
