@model IEnumerable<DTO.Area>

@{
    ViewData["Title"] = "GetAllAreas";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Choose an Area</title>
</head>
<body>

    <h1>TEST</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
       
            <td>
           
                @Html.ActionLink("Select", "Select", new {  id=item.IdArea }) |

            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
