@model IEnumerable<DTO.City>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllCities</title>
</head>

<body>
    <p>
        <a asp-controller="CustomerLogin" asp-action="LogOutC">Log Out</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Npa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Npa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>


                    <td>

                        @Html.ActionLink("Select", "Select", new { id = item.IdCity }) |

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="Area" asp-action="GetAllAreas">Back to Areas</a>
</body>
</html>
